
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>View Teachers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
            background-color: white;
        }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }
        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }

        body {
            margin: 0;
            font-family: "Lato", sans-serif;
        }

        .row {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            margin: 0 -16px;
        }

        .col-25 {
            -ms-flex: 25%; /* IE10 */
            flex: 25%;
        }

        .col-50 {
            -ms-flex: 50%; /* IE10 */
            flex: 50%;
        }

        .col-75 {
            -ms-flex: 75%; /* IE10 */
            flex: 75%;
        }

        .col-25,
        .col-50,
        .col-75 {
            padding: 0 16px;
        }

        .container {
            background-color: #f2f2f2;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgrey;
            border-radius: 3px;
        }

       

        .icon-container {
            margin-bottom: 20px;
            padding: 7px 0;
            font-size: 24px;
        }

        

            .btn:hover {
                background-color: #45a049;
            }

        span.price {
            float: right;
            color: grey;
        }


        .sidebar {
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;
        }


        .sidebar a {
            display: block;
            color: black;
            padding: 16px;
            text-decoration: none;
        }

            .sidebar a.active {
                background-color: #05728f;
                color: white;
            }

            .sidebar a:hover:not(.active) {
                background-color: #555;
                color: white;
            }

        div.content {
            margin-left: 200px;
            padding: 1px 16px;
            height: 100%;
        }
        .checked {
    color: orange;
}
        .btn {
            background-color: #05728f;
            color: white;
            padding: 12px;
            margin: 5px 0;
            border: none;
    
            border-radius: 3px;
            cursor: pointer;
            
        }
        .btn:hover {
                background-color: #05728f;
            }
    </style>
</head>
<body>

    <div class="sidebar">
        <div class="pic">
            <img class="img-responsive" src="https://vignette.wikia.nocookie.net/peaky-blinders/images/9/93/Tommyportrait2.png/revision/latest?cb=20171106170631" alt="Chania" width="460" height="345">
        </div>
        <h3> Thomas Shelby</h3>
        @Html.ActionLink("Newsfeed", "Newsfeed", "Student")
        @Html.ActionLink("Profile", "StudentProfile", "Student")
        @Html.ActionLink("Messages", "Messages", "Student")
        <a class="active" href="#">View Teachers</a>
        @Html.ActionLink("Account Settings", "AccountSettings", "Student")
        @Html.ActionLink("Logout", "Index", "Login")
    </div>

    <div class="content">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Ratings</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>John@example.com</td>
                    <td>+923028090100</td>
                    <td><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span><button class=" btn">Rate</button></td>
                    
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                    <td>+923028090100</td>
                    <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <button class=" btn">Rate</button>
                    </td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>+923028090100</td>
                    <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <button class=" btn">Rate</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>